.row {
    margin: 0 !important;
}

.admin-sub-header {
    background: #021428;
    padding: 0.3em 0em;
    color: #ffffff;
    text-shadow: 0pt 0pt 2pt #000;
}

    .admin-sub-header .site-breadcrumb {
        display: inline-flex;
    }

        .admin-sub-header .site-breadcrumb #wrap {
            margin: auto 0;
        }

            .admin-sub-header .site-breadcrumb #wrap #main-module-name {
                font-weight: bold;
                font-size: 1.2rem;
                vertical-align: middle;
            }

            .admin-sub-header .site-breadcrumb #wrap #breadcrumb-nav-links {
                font-size: 1rem;
                vertical-align: sub;
            }

                .admin-sub-header .site-breadcrumb #wrap #breadcrumb-nav-links .separator {
                    font-size: 0.9rem;
                    vertical-align: text-top;
                    color: #888;
                }

.btn-light {
    background: #fff !important;
    border: 1px solid #ddd !important;
    padding: 0.4em 0.8em !important;
}

.project-sidebar {
    background: #f7f7f7;
    cursor: default;
    border-right: 1px solid #ddd;
    padding: 0.5em 0em !important;
    min-height: 93vh !important;
}

    .project-sidebar .project-list {
        font-size: 12px;
        color: #777;
        padding: 0 1em;
        margin-bottom: 0.5em;
    }

    .project-sidebar i {
        cursor: pointer;
    }

        .project-sidebar i:hover {
            color: #07f;
        }

    .project-sidebar a {
        color: #ffffff;
        margin-top: 15px;
        margin-left: 20px;
        margin-right: 20px;
        display: block;
    }

        .project-sidebar a:hover {
            color: #07f;
            text-decoration: none;
        }

    .project-sidebar ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .project-sidebar li div {
        font-size: 12px;
    }

        .project-sidebar li div:hover {
            background: #d3e7ff;
        }

.project-space {
    background: #fff;
    padding: 0 !important;
    cursor: default;
}

    .project-space .project-table-head {
        padding: 0 !important;
        margin: 0;
        font-size: 12px;
        color: #777;
        background: #f7f7f7;
        border-bottom: 1px solid #ddd;
    }

        .project-space .project-table-head div {
            padding: 0.2em 0.8em;
        }

    .project-space .project-table-data-row {
        padding: 0 !important;
        margin: 0;
        border-bottom: 1px solid #f5f5f5;
    }

        .project-space .project-table-data-row div {
            padding: 0.2em 0.8em;
        }

        .project-space .project-table-data-row .data-name {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

            .project-space .project-table-data-row .data-name .project-file-icon {
                width: 16px;
            }

            .project-space .project-table-data-row .data-name a {
                font-size: 14px;
                color: #000;
                text-shadow: 0pt 0pt 1pt #ccc;
            }

                .project-space .project-table-data-row .data-name a:hover {
                    text-decoration: none;
                    color: #07f;
                }

        .project-space .project-table-data-row .data-info {
            font-size: 12px;
            color: #777;
            vertical-align: middle;
            margin: auto 0;
        }

.list-rectangle {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .list-rectangle > li {
        position: relative;
        display: block;
        margin-bottom: .25rem;
        padding: .325rem .825rem .325rem 1.325rem;
        color: #000000;
        background: #e8e8e8;
    }

        .list-rectangle > li:last-child {
            margin-bottom: 0;
        }

        .list-rectangle > li::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 0.5rem;
            background: #000000;
        }

.button-marg {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
}