@{
    ViewData["Title"] = "Новый проект";
}

<div class="col-md-2">
    @using (Html.BeginForm("AddProject", "Project", FormMethod.Post))
    {
    <div class="form-group">
        @Html.Label("Название проекта:")<br />
        @Html.TextBox("name", null, null, new { @class = "form-control" })<br />

        @Html.Label("Путь к проекту:")<br />
        @Html.TextBox("path", null, null, new { @class = "form-control" })<br />

        <input type="submit" value="Добавить" class="btn btn-primary mb-2" />
        <input type="button" onclick="history.back();" value="Отмена" class="btn btn-primary mb-2" />
    </div>
    }
</div>

