@model IEnumerable<ProjectGuard.Ef.Entities.Project>

<div class="project-list">Проекты</div>
<ul class="list-rectangle">
    @foreach (var project in Model)
    {
        <li class="li-clickable" value="@project.Id">@project.Name</li>
    }
</ul>

@Html.ActionLink("Добавить", "AddProject", "Project", null, new { @class="btn btn-dark", @role="button", @type="button"})

    